*.pyc
*.un~
val/
eval/
eval
data/
logs/
checkpoints/
logs
checkpoints
__pycache__
val
data
*~
.vscode
notebooks/.ipynb_checkpoints
notebooks/*
wandb
.DS_Store
*.bin
*.ckpt
**/.ipynb_checkpoints/
weights/
